<div class="container-fluid text-center create-pkg-container">
	<form (submit)="this.createPackage($event, pkgSource.value, pkgDest.value)">
		<h3 class="my-5">Create new package</h3>
		<p class="link-danger" *ngIf="this.error">{{this.error}}</p>
		<div [ngClass]="{'no-b form-control input-group mb-3 w-100': true, 'is-invalid': this.error !== null, 'is-valid': this.success}">
			<span class="input-group-text w-25 create-pkg-labels" id="pkgsource">
				Source
			</span>
			<input type="text" class="form-control" aria-describedby="pkgsource" required #pkgSource/>
		</div>
		<div [ngClass]="{'no-b form-control input-group mb-3 w-100': true, 'is-invalid': this.error !== null, 'is-valid': this.success}">
			<span class="input-group-text w-25 create-pkg-labels" id="pkgdest">
				Destination
			</span>
			<input type="text" class="form-control" aria-describedby="pkgdest" required #pkgDest/>
		</div>
		<button class="btn btn-light" [disabled]="this.success">Create</button>
	</form>
</div>

