.auth-grid {
	display: inline-grid;
	text-align: center;
}

.invalid-input {
	border: 2px solid red;
}

.invalid-input-label {
	color: red;
}

.btn-login {
	width: fit-content;
	place-self: center;
}
